
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

:root{
	--verdeClaro: #8BEA23;
	--azul: #3D4FFF;
}

* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Indie Flower', cursive;
	width: 100%;
	max-width: 1000px;
}

/**Estilos header**/
header { 
	height: 300px;
	position: relative;
	text-align: center;
}

#titulo_principal {
	position: absolute;
	font-size: 50px;
	color: white;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}


#back {
	height: 100%;
	background-image: url("../img/design1_image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#titulo_pagina {
	display: none;
}

#caja_logo {
	width: 150px;
	position: absolute;
	top: 1%;
	left: 1%;
}

#logo {
	width: 100%;

}

/**Estilos nav**/

nav {
	margin: 0 10%;
}

#menu {
	list-style: none;
	display: flex;
	align-items: flex-start;
	margin: 0;
}

.menu_link{
	text-decoration: none;
	font-size: 28px;
	color: var(--verdeClaro);
}

._select{
	background: var(--verdeClaro);
	font-weight: bold;
	padding: 0px 35px;
}

._select a {
	font-size: 40px;
	color: white;
}

/**Estilos main**/

main {
	border: 2px solid var(--verdeClaro);
	margin:0 10%;
	margin-bottom: 30px;
}

main h3 {
	margin-top: 20px;
	margin-left: 30px;
	color: var(--verdeClaro);
}

main p {
	margin-left: 60px;
}

main h2, main #aclaracion-reglas, main #aclaracion-schedule {
	text-align: center;
	margin: 0;
}


/**Estilo listas**/

#contenedor-reglas {
	margin: 30px;
}

#contenedor-reglas h3{
	margin-left: 0;
	color: var(--azul);
}

#contenedor-reglas span {
	font-weight: bold;
}

ol, ul {
	margin-left: 30px;
}


/**Estilo tablas**/
#contenedor-tablas {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.horarios th{
	background: var(--azul);
	text-align: left;
	color: white;
}

.horarios td{
	border-left: 1px grey solid;
}
.horarios .fecha td{
	border-top: 1px grey solid;
	border-collapse: collapse;
}

.horarios {
	width: 47%;
	border: 2px solid var(--azul);
	border-collapse: collapse;
}

.horarios tbody * {
	padding-left: 5px;
}


#escuelas {
	margin-left: 30px;
	width: 90%;
	margin-bottom: 30px;
	border: 2px solid var(--verdeClaro);
}

#informacion {
	width: 90%;
	margin: 30px;
}

#informacion p {
	margin-left: 5px;
}

#informacion .bold {
	font-weight: bold;
}

.flex {
	display: flex;
}